* {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.elemento1 {
    width: 100vw;
    height: 50vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.fundo {
    position: relative;
    display: flex;
}

.imageText {
    position: absolute;
    font-size: 3em;
    color: darkblue;
    top: 50px;
    left : 50%;
    transform: translate(-50%, -50%);
}

.capitais {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
    background-color: rgb(184, 184, 223);
    padding: 50px;
}

.capitais > div {
    display: flex;
    /*justify-content: space-around;*/
    border-radius: 20px;
    box-shadow: 5px 5px 15px #888888;
    margin: 10px;
}

.capitais img {
    border-radius: 20px 0 0 20px;
    height: 100%;
}

.capitais div div:last-child{
    /* Selector indentifica os divs com o paragrafo com nome da capital
    (ultimo div filho de cada div dentro do elemento com classe capitais) */

    width: 150px;
    background-color: white;
    padding: 20px;
    border-radius: 0 20px 20px 0; /* arredonda 2º e 3º canto */

    /*centrar texto na caixa*/
    display: flex;
    justify-content: center;
    align-items: center;
}

