* {

    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.element1 {
    width: 100vw;
    height: 50vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text1 {
    font-size: 3em;
}

.fundo {
    position:relative;
    width:100%;
}

.diz {
    position:absolute;
    top: 10px;
    left: 30px;
    color: yellow;
}

.capitais {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
    background-color: rgb(238, 248, 248);
    padding: 50px;
}

.capitais > div {
    /*  */
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #888888;
    margin: 10px;
}

.capitais img {
    border-radius: 20px 0 0 20px;
    height: 100%;    
}
