* {
    /*font-family: 'Ubuntu', sans-serif;*/
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: blanchedalmond;

    z-index: 12;
}

header h1 {
    text-align: left;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    /* links */
    padding: 0 1em;
    text-decoration: none;
    font-size: 1rem;
    color: lightgray;
}

/**/

.elemento1 {
    width: 100vw;
    height: 50vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

/*  */

/*  */

.fundo img{
    position: relative;
    display: flex;
    z-index: 0;

    height: 95px;
    width: 100%;

    transition: height 0.5s;
    
    text-align: center;
    overflow: hidden;
}

.imageText {
    position: absolute;
    font-size: 3em;
    color: darkblue;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/**/


/* Seccão caixas com as capitais */

.capitais {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
    background-color: rgb(184, 184, 223);
    padding: 5px;
}

.capitais>div {
    display: flex;
    /*justify-content: space-around;*/
    border-radius: 20px;
    box-shadow: 5px 5px 15px #888888;
    margin: 10px;
}

.capitais img {
    border-radius: 20px 0 0 20px;
    height: 100%;
}

.capitais div div:last-child {
    /* Selector indentifica os divs com o paragrafo com nome da capital
    (ultimo div filho de cada div dentro do elemento com classe capitais) */
    width: 150px;
    background-color: white;
    padding: 20px;
    border-radius: 0 20px 20px 0;
    /* arredonda 2º e 3º canto */
    /*centrar texto na caixa*/
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FIM -  Seccão caixas com as capitais */


/*Secção circulos conjunto de circulos*/

.container {
    position: relative;
}

.container div {
    /*Circulo*/
    width: 200px;
    height: 200px;
    border-radius: 100px;
    /*background-color: red; -- passado para cada circulo e nao para todos*/
}

.container div .image {
    /*Propriedades da imagem*/
    clip-path: circle(50%);
    z-index: 2;
    opacity: 0;
    width: 100%;
    height: auto;
}

.container div p {
    /* Propriedades do texto, neste caso simbolo */
    text-align: center;
    font-size: 100px;
    z-index: 1;

}

.container div:hover .image {
    /* Imagem aparece após passar por cima com o rato */
    opacity: 1;
    z-index: 2;
}

.container div:hover p {
    /* texto ou icone desparece quando passa por cima com o rato */
    display: none;
}

.circulo {
    position: absolute;
    top: 0;
}

.circulo1 {
    left: 0;
    background-color: red;
}

.circulo1:hover {
    z-index: 1;
}

.circulo2 {
    left: 150px;
    background-color: blue;
}

.circulo2:hover {
    z-index: 1;
}

.circulo3 {
    left: 300px;
    background-color: green;
}

.circulo3:hover {
    z-index: 1;
}



/* FIM - Secção circulos conjunto de circulos*/


